.App {
  background-color: rgba(241,241,241,1);
}

.mainContainer {
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 900px) {
  .mainContainer {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
  }
  .mainComp1 {
    width: 700px;
  }
}